@page
@model SupermarketWEB.Pages.Cliente.InicioModel
@{
    Layout = "_Layout";
}
<h2>Bienvenido a nuestra empresa amigazo</h2>
<p>Desde aquí puedes explorar los productos, catagorías y metodos de pago disponibles.</p>
