@page
@model SupermarketWEB.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Iniciar sesión</h2>

<form method="post">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="Appuser.Email" class="form-label"></label>
        <input asp-for="Appuser.Email" class="form-control" type="email" />
        <span asp-validation-for="Appuser.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Appuser.Password" class="form-label"></label>
        <input asp-for="Appuser.Password" class="form-control" type="password" />
        <span asp-validation-for="Appuser.Password" class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
    </div>

    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
